/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Karma:wght@700&display=swap'); */

/* SHARED STYLING */

:root {
    --max-width: 800px;
    --tile-spacing: 1px;

    --main-bg-color: #ffffff;
    --main-theme: #ec0f5d;
    --main-yellow: #fbbf24;
    --main-green: #9fce1f;
    --main-blue: #58d1f7;
    --main-purple: #d2aaf7;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.space-xsmall {
    min-width: 8px;
    min-height: 8px;
}

.space-small {
    min-width: 16px;
    min-height: 16px;
}

.space-big {
    min-width: 32px;
    min-height: 32px;
}

.text-faded {
    color: inherit;
    opacity: 0.5;
}

.text-zero {
    font-size: 0;
}

.text-initial {
    font-size: initial;
}

.subtitle {
    color: inherit;
    opacity: 0.66;
    font-style: italic;
}

.station-dot {
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border: 6px solid #000000;
    border-radius: 100%;
    /* box-shadow: 0 0 0 3px white; */
    /* margin: -6px; */
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    flex-shrink: 0;
}

.sub-section-dot {
    /* height: 18px; */
    /* width: 18px; */
    /* border: 3px solid white; */
    height: 12px;
    width: 12px;
    /* box-shadow: 0 0 0 2px rgba(255, 255, 255, 1); */
    background-color: black;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    flex-shrink: 0;
}

.line-dot {
    line-height: 1;
    background-color: black;
    color: black;
    height: 16px;
    width: 16px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.line-dot.small-letter {
    font-size: 8px;
}

.line-1 {
    background-color: var(--main-yellow);
}

.line-2 {
    background-color: var(--main-green);
}

.line-3 {
    background-color: var(--main-blue);
}

.line-4 {
    background-color: var(--main-purple);
}

/* BASIC STYLING */

html, body {
    /* overflow-x: hidden; */
    width: 100%;
}

body {
    background-color: var(--main-bg-color);
    align-items: center;
    min-height: 100vh;
}

a {
    color: var(--main-theme);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

b {
    font-weight: bold;
}

span {
    font-family: inherit;
}

/* HEADER STYLING */

#main-header {
    padding-bottom: 0;
    z-index: 99;
    position: fixed;
    width: 100%;
    color: white;
}

#main-header 
#header-top {
    background-color: black;
    display: flex;
    justify-content: center;
}

#main-header
#header-top-content {
    padding: 32px 16px;
    max-width: var(--max-width);
    width: 100%;
}

#main-header  
#logo-img {
    height: 48px;
    /* filter: brightness(0);
    -webkit-filter: brightness(0); */
}

#main-header  
#profile-img {
    height: 48px;
    margin-right: 16px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#main-header 
#header-gradient {
    height: 32px;
    width: calc(100% + 32px);
    margin: 0 -16px;
    z-index: 1;
    position: relative;
    background: transparent url("/img/header-gradient.png") left center / 32px 32px repeat-x;
    /* filter: brightness(0);
    -webkit-filter: brightness(0);
    opacity: 0.25; */
}

#header-spacer {
    height: 210px;
}

/* NAV STYLING */

#main-nav {
    z-index: 2;
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.1);
}

#main-nav 
#nav-text {
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
    padding: 0 16px;
}

#main-nav  
.station {
    /* background-color: red; */
    font-weight: bold;
    margin-right: 8px;
    line-height: 1;
    border-top: 2px solid white;
    padding-top: 6px;
    /* margin-top: -6px; */
}

#main-nav 
.station:last-of-type {
    margin-right: 0;
}

#main-nav 
.station-name {
    align-items: baseline;
}

#main-nav 
.station-name
h1 {
    font-size: 20px;
    line-height: 1;
}

#main-nav 
.station-name
p {
    line-height: 1;
    font-size: 10px;
    margin-left: 4px;
    text-transform: uppercase;
}

#main-nav 
.train-dots {
    margin-top: 6px;
}

#main-nav 
.line-dot {
    margin-right: 2px;
}

#main-nav 
.line-dot:last-of-type {
    margin-right: 0;
}

#main-nav 
.station:hover,
#main-nav 
.station:active {
    cursor: pointer;
    color: var(--main-theme);
    border-color: var(--main-theme);
}

#main-nav 
.station:hover
.line-dot,
#main-nav 
.station:active
.line-dot {
    background-color: var(--main-theme);
}

/* BODY CONTENT STYLING */

#main-content {
    /* background: rgba(255, 0, 0, 0.05); */
    padding: 0 16px;
    max-width: var(--max-width);
    width: 100%;
}

#main-content 
#main-left-line {
    width: 12px;
    height: calc(100vh * 1.5);
    position: fixed;
    margin-top: -64px;
    background-color: var(--main-theme);
    z-index: -1;
}

/* SECTION STYLING */

.main-section {
    padding-left: 44px;
}

/* SECTION LEFT STYLING */

.main-section 
.section-left-line {
    /* background-color: rgba(255, 255, 0, 0.5); */
    width: 44px;
    margin-right: 16px;
    margin-left: -60px;
    flex-shrink: 0;
}

.main-section
.section-left-line
.station-dot {
    margin-top: 12px;
    margin-left: 10px;
    z-index: 1;
}

.main-section
.section-left-line
.line-branch {
    height: 64px;
    width: 28px;
    margin-left: 16px;
    margin-top: -12px;
    mask-image: url("/img/line-branch-mask.svg");
    -webkit-mask-image: url("/img/line-branch-mask.svg");
}

.main-section
.section-left-line
.left-branch-line {
    flex-grow: 1;
    width: 12px;
    margin-left: 32px;
}

/* SECTION RIGHT STYLING (CONTENT) */

.main-section 
h1 {
    font-size: 32px;
    font-weight: bold;
}

.main-section
h2 {
    font-size: 20px;
    font-weight: bold;
}

.main-section
li {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.main-section
li
.line-dot {
    margin-right: 8px;
    margin-top: 4px;
}

.main-section 
.section-header 
.station-dot {
    margin-right: 26px;
    margin-top: 12px;
}

.main-section 
.section-header 
.section-trains {
    align-items: center;
    height: 48px;
}

.main-section 
.section-header 
.circle-arrow {
    background-color: red;
    height: 24px;
    width: 24px;
    margin-left: 16px;
    margin-right: 4px;
    background: transparent url("/img/arrow-circle.svg") center center / 100% 100%;
}

.main-section 
.section-header 
.line-dot {
    height: 24px;
    width: 24px;
    font-size: 14px;
    margin-right: 4px;
}

.main-section 
.section-header 
.line-dot:last-of-type {
    margin-right: 0;
}

.main-section 
.section-header 
.line-dot.small-letter {
    font-size: 12px;
}

.main-section
.section-intro
.intro-div {
    width: 50%;
}

.main-section
.section-intro
.intro-div {
    margin-right: 32px;
}

.main-section
.section-intro
.intro-div:last-of-type {
    margin-right: 0;
}

/* .main-section
.section-intro
.intro-div.intro-sign {
    background-color: black;
    color: white;
    padding: 8px;
    margin: -8px;
    margin-right: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.main-section
.section-intro
.intro-div.intro-sign
hr {
    border: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: -4px -4px 2px -4px;
} */

.main-section
.sub-section-title
.sub-section-dot {
    margin-top: 9px;
    margin-left: -28px;
    margin-right: 16px;
}

/* PROJECTS SECTION STYLING */

.tiles-container {
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--tile-spacing));
    margin-top: calc(-1 * var(--tile-spacing));
}

.project-tile {
    overflow: hidden;
    width: calc(20% - var(--tile-spacing));
    background-color: red;
    font-size: 0;
    margin-right: var(--tile-spacing);
    margin-top: var(--tile-spacing);
    display: flex;
    cursor: pointer;
}

.project-tile img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-right: -100%;
}

.project-tile > div {
    height: 100%;
    width: 100%;
    font-size: initial;
    color: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.project-tile
.proj-name {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1px black,
                 1px 1px 4px black,
                 0px 0px 20px black;
    padding: 4px;
    margin-bottom: -18px;
}

.project-tile
.proj-year {
    background-color: black;
    width: min-content;
    padding: 0 4px;
    font-size: 12px;
}

.project-tile:hover > div {
    background-color: rgba(0, 0, 0, 0.75);
    color: var(--main-theme);
    box-shadow: inset 0 0 0 2px var(--main-theme);
}

.project-tile:hover 
.proj-year {
    color: white;
    background-color: var(--main-theme);
}

/* RESPONSIVE */

/* SMALL */
@media only screen and (max-width: 690px) {
    .hide-when-small {
        display: none;
    }

    /* SMALL HEADER STYLING */

    #main-header 
    #header-top-content {
        padding: 16px;
    }

    #main-header 
    #logo-img {
        height: 32px;
    }

    #main-header 
    #profile-img {
        height: 32px;
        margin-right: 0;
    }

    #header-spacer {
        height: 158px;
    }

    /* SMALL NAV STYLING */

    #main-nav {
        padding-bottom: 8px;
    }

    #main-nav 
    .station-name {
        flex-direction: column;
    }

    #main-nav 
    .station-name 
    h1 {
        font-size: 16px;
    }

    #main-nav  
    .station-name 
    p {
        margin-top: 2px;
        margin-left: 0;
        text-transform: none;
    }

    #main-nav 
    .line-dot {
        height: 12px;
        width: 12px;
        font-size: 8px;
    }

    #main-nav  
    .line-dot.small-letter {
        font-size: 6px;
    }

    /* SMALL SECTION STYLING */

    .main-section 
    .section-header 
    .section-name {
        flex-direction: column;
    }

    .main-section 
    .section-header 
    .section-trains {
        /* align-items: flex-start; */
        height: 30px;
    }

    .main-section 
    .section-header  
    .circle-arrow {
        margin-left: 0;
    }

    .main-section
    .section-intro {
        flex-direction: column;
    }

    .main-section
    .section-intro
    .intro-div {
        width: initial;
        margin-right: 0;
    }

    .main-section
    .section-intro
    .intro-div.intro-sign {
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-section 
    .station-sign-group {
        flex-direction: column;
    }

    .main-section
    .station-sign {
        margin-right: 0;
        margin-bottom: 8px;
        width: initial;
    }

    .main-section
    .station-sign
    li {
        white-space: normal;
    }

    /* SMALL PROJECTS STYLING */
    .project-tile {
        width: calc(100% / 3 - var(--tile-spacing));
        background-color: red;
    }

}

/* BIG */
@media only screen and (min-width: 691px) {
    .hide-when-big {
        display: none;
    }

}