@import url("/css/standard.css");

/* BASIC STYLING */

html, body {
    overflow-x: hidden;
    width: 100%;
}

body {
    background-color: var(--main-bg-color);
    align-items: center;
    min-height: 100vh;
}

span {
    font-family: inherit;
}

/* HEADER STYLING */

#main-header {
    padding-bottom: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    transition: margin-top 0.2s;
    -webkit-transition: margin-top 0.2s;
    -moz-transition: margin-top 0.2s;
    -ms-transition: margin-top 0.2s;
    -o-transition: margin-top 0.2s;
    /* background-color: red; */
}

#main-header 
#header-top {
    background-color: black;
    display: flex;
    justify-content: center;
}

#main-header
#header-top-content {
    padding: 32px 16px;
    max-width: var(--max-width);
    width: 100%;
}

#main-header  
#logo-img {
    height: 48px;
    /* filter: brightness(0);
    -webkit-filter: brightness(0); */
}

#main-header  
#profile-img {
    height: 48px;
    margin-right: 16px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#main-header 
#header-gradient {
    height: 32px;
    width: calc(100% + 32px);
    margin: 0 -16px;
    margin-bottom: -32px;
    z-index: 1;
    position: relative;
    background: transparent url("/img/header-gradient.png") left center / 32px 32px repeat-x;
    pointer-events: none;
    /* filter: brightness(0);
    -webkit-filter: brightness(0);
    opacity: 0.25; */
}

/* NAV STYLING */

#main-nav {
    z-index: 2;
    position: relative;
    background-color: black;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.1);
}

#main-nav 
#nav-text {
    justify-content: space-between;
    max-width: var(--max-width);
    width: 100%;
    padding: 0 16px;
}

#main-nav  
.station {
    /* background-color: red; */
    font-weight: bold;
    margin-right: 8px;
    line-height: 1;
    border-top: 2px solid white;
    padding-top: 6px;
    /* margin-top: -6px; */
}

#main-nav 
.station:last-of-type {
    margin-right: 0;
}

#main-nav 
.station-name {
    align-items: baseline;
}

#main-nav 
.station-name
h1 {
    font-size: 20px;
    line-height: 1;
}

#main-nav 
.station-name
p {
    line-height: 1;
    font-size: 10px;
    margin-left: 4px;
    text-transform: uppercase;
}

#main-nav 
.train-dots {
    margin-top: 6px;
}

#main-nav 
.line-dot {
    margin-right: 2px;
}

#main-nav 
.line-dot:last-of-type {
    margin-right: 0;
}

#main-nav 
.station:hover,
#main-nav 
.station:active {
    cursor: pointer;
    color: var(--main-theme);
    border-color: var(--main-theme);
}

#main-nav 
.station:hover
.line-dot,
#main-nav 
.station:active
.line-dot {
    background-color: var(--main-theme);
}

/* BODY CONTENT STYLING */

#main-content {
    /* background: rgba(255, 0, 0, 0.05); */
    padding: 0 16px;
    max-width: var(--max-width);
    width: 100%;
    margin-top: 210px;
}

#main-content 
#main-left-line {
    width: 12px;
    flex-shrink: 0;
    background-color: var(--main-theme);
    margin-top: -160px;
    margin-right: -12px;
}

#main-content
#main-content-right {
    width: 100%;
}

/* SECTION STYLING */

.main-section {
    padding-left: 44px;
    margin-bottom: 32px;
}

/* SECTION LEFT STYLING */

.main-section 
.section-left-line {
    /* background-color: rgba(255, 255, 0, 0.5); */
    width: 44px;
    margin-right: 16px;
    margin-left: -60px;
    flex-shrink: 0;
}

.main-section
.section-left-line
.station-dot {
    margin-top: 12px;
    margin-left: 10px;
    z-index: 1;
}

.main-section
.section-left-line
.line-branch {
    height: 64px;
    width: 28px;
    margin-left: 16px;
    margin-top: -12px;
    mask-image: url("/img/line-branch-mask.svg");
    -webkit-mask-image: url("/img/line-branch-mask.svg");
}

.main-section
.section-left-line
.left-branch-line {
    flex-grow: 1;
    width: 12px;
    margin-left: 32px;
    background-image: url("/img/footer-gradient.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 32px 32px;

}

/* SECTION RIGHT STYLING (CONTENT) */

.section-right-content {
    /* background-color: yellow; */
    padding-bottom: 32px;
    width: 100%;
}

.main-section 
h1 {
    font-size: 32px;
    font-weight: bold;
}

.main-section
h2 {
    font-size: 20px;
    font-weight: bold;
}

.main-section
li {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
}

.main-section
li
.line-dot {
    margin-right: 8px;
    margin-top: 4px;
}

.main-section
.section-header {
    /* background-color: yellow; */
    margin-bottom: 16px;
}

.main-section 
.section-header 
.station-dot {
    margin-right: 26px;
    margin-top: 12px;
}

.main-section 
.section-header 
.section-trains {
    align-items: center;
    height: 48px;
}

.main-section 
.section-header 
.circle-arrow {
    margin-left: 16px;
    margin-right: 4px;
}

.main-section 
.section-header 
.line-dot {
    height: 24px;
    width: 24px;
    font-size: 14px;
    margin-right: 4px;
}

.main-section 
.section-header 
.line-dot:last-of-type {
    margin-right: 0;
}

.main-section 
.section-header 
.line-dot.small-letter {
    font-size: 12px;
}

.main-section
.section-intro {
    /* background-color: yellow; */
    margin-bottom: 16px;
}

.main-section
.section-intro
.intro-div {
    width: 50%;
}

.main-section
.section-intro
.intro-div {
    margin-right: 32px;
}

.main-section
.section-intro
.intro-div:last-of-type {
    margin-right: 0;
}

.main-section
.sub-section-title {
    /* background-color: yellow; */
    margin-bottom: 16px;
}

.main-section
.sub-section-title
.sub-section-dot {
    margin-top: 9px;
    margin-left: -28px;
    margin-right: 16px;
    z-index: 1;
}

/* PROJECTS SECTION STYLING */

.tiles-container {
    flex-wrap: wrap;
    margin-right: calc(-1 * var(--tile-spacing));
    margin-top: calc(-1 * var(--tile-spacing));
    margin-bottom: 16px;
}

.tiles-container:last-of-type {
    /* background-color: yellow; */
    /* margin-bottom: 0; */
}

.project-tile {
    overflow: hidden;
    width: calc(20% - var(--tile-spacing));
    font-size: 0;
    margin-right: var(--tile-spacing);
    margin-top: var(--tile-spacing);
    display: flex;
    cursor: pointer;
}

.project-tile img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    margin-right: -100%;
}

.project-tile > div {
    height: 100%;
    width: 100%;
    font-size: initial;
    color: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.project-tile
.proj-name {
    justify-content: center;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1px black,
                 1px 1px 4px black,
                 0px 0px 20px black;
    padding: 4px;
    margin-bottom: -18px;
}

.project-tile
.proj-year {
    background-color: black;
    width: min-content;
    padding: 0 4px;
    font-size: 12px;
}

.project-tile:hover > div {
    background-color: rgba(236, 15, 92, 0.5);
    /* background-color: rgba(0, 0, 0, 0.75); */
    /* color: var(--main-theme); */
    /* box-shadow: inset 0 0 0 2px var(--main-theme); */
}

.project-tile:hover 
.proj-year {
    color: white;
    background-color: var(--main-theme);
}

/* EXPERIENCE SECTION STYLING */

.sub-section-toggle {
    width: 100%;
    cursor: pointer;
}

.sub-section-arrow {
    width: 30px;
    height: 30px;
    text-align: center;
    font-style: normal;
    background-color: black;
    mask: url("/img/arrow-down.svg") center center / 30px 30px;
    -webkit-mask: url("/img/arrow-down.svg") center center / 30px 30px;
}

.sub-section-arrow.arrow-up {
    mask: url("/img/arrow-up.svg") center center / 30px 30px;
    -webkit-mask: url("/img/arrow-up.svg") center center / 30px 30px;
}

.hidden-notice {
    margin-top: 16px;
    /* margin-bottom: 16px; */
    padding-left: 24px;
    background: transparent url("/img/ri-eye-closed.svg") left center / 16px 16px no-repeat;
}

.experience-container {
    /* background-color: yellow; */
    margin-bottom: 16px;
    display: none;
}

.experience-container:last-of-type {
    /* margin-bottom: 0; */
}

.experience-entry {
    /* background-color: yellow; */
    margin-bottom: 16px;
}

.experience-entry:last-of-type {
    margin-bottom: 0;
}

.experience-entry
.experience-dash {
    width: 6px;
    height: 100%;
    margin-left: -25px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.experience-entry
h3 {
    font-weight: bold;
    /* text-transform: uppercase; */
}

.experience-entry
.year-row
img {
    /* background-color: yellow; */
    margin: 4px;
}

.sub-section-toggle:hover
.sub-section-arrow {
    background-color: var(--main-theme);
}

.sub-section-toggle:hover
h2 {
    color: var(--main-theme);
}

/* EDUCATION SECTION STYLING */

.education-box {
    margin-bottom: 16px;
    /* margin-top: -16px; */
    /* background-color: yellow; */
}

.education-box
.education-img {
    height: 64px;
    width: 64px;
    margin-top: 4px;
    margin-right: 8px;
}

.education-img
img {
    height: 100%;
    width: 100%;
}

/* EXTRAS */

.sub-section-extra {
    margin-left: -28px;
    padding-left: 28px;
    background: transparent url("/img/diag-pattern.png") left top / 12px 12px repeat-y;
    margin-bottom: 16px;
    /* background-color: yellow; */
    display: block;
    overflow: hidden;
    /* width: 100%; */
}

.extra-entry {
    /* background-color: yellow; */
    padding: 8px;
    padding-right: 0;
    /* margin-top: -8px; */
    margin-left: -8px;
    /* overflow: hidden; */
    /* width: calc(100vw - 68px); */
    width: 100%;
    /* max-width: 100%; */
}

.extra-entry:hover {
    color: var(--main-theme);
    cursor: pointer;
}

.extra-entry:hover .extra-doc-icon {
    background-color: var(--main-theme);
    /* box-shadow: 0 0 0 2px var(--main-theme); */
    color: white;
}

.extra-entry:hover .extra-doc-icon img {
    opacity: 0.75;
}

.extra-doc-icon {
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    height: 48px;
    width: 37px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    overflow: hidden;
    
}

.extra-doc-icon img {
    height: 100%;
    width: 100%;
}

.extra-label {
    overflow: hidden;
    /* flex-grow: 1; */
    /* background-color: yellow; */
    
}

.extra-label p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* max-width: 100%; */
}

/* FOOTER STYLING */

#main-footer {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

#footer-content {
    width: 100%;
    max-width: var(--max-width);
    padding: 16px;
    color: white;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    font-size: 0;
}

#footer-content > div > .flex-row {
    justify-content: flex-start;
    align-items: center;
}

#footer-content
.line-dot {
    height: 12px;
    width: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 4px;
}

#footer-content
.line-dot + .line-dot {
    margin-right: 16px;
}

#footer-content
p {
    line-height: 1px;
    font-size: 12px;
}

#footer-content
.subtitle {
    line-height: 1px;
    font-size: 10px;
}

#scroll-top {
    height: 48px;
    width: 48px;
    background-color: black;
    position: sticky;
    bottom: 0;
    bottom: 32px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 8px;
}

#scroll-top:hover {
    background-color: var(--main-theme);
}

#scroll-top
div {
    mask: url("/img/stairs-up.svg") center center / 100% 100% no-repeat;
    -webkit-mask: url("/img/stairs-up.svg") center center / 100% 100% no-repeat;
    background-color: white;
    height: 32px;
    width: 32px;
}

/* RESPONSIVE */

/* SMALL */
@media only screen and (max-width: 690px) {
    .hide-when-small {
        display: none;
    }

    /* SMALL HEADER STYLING */

    #main-header 
    #header-top-content {
        padding: 16px;
    }

    #main-header 
    #logo-img {
        height: 32px;
    }

    #main-header 
    #profile-img {
        height: 32px;
        margin-right: 0;
    }

    /* SMALL NAV STYLING */

    #main-nav {
        padding-bottom: 8px;
    }

    #main-nav 
    .station-name {
        flex-direction: column;
    }

    #main-nav 
    .station-name 
    h1 {
        font-size: 16px;
    }

    #main-nav  
    .station-name 
    p {
        margin-top: 2px;
        margin-left: 0;
        text-transform: none;
    }

    #main-nav 
    .line-dot {
        height: 12px;
        width: 12px;
        font-size: 8px;
    }

    #main-nav  
    .line-dot.small-letter {
        font-size: 6px;
    }

    /* SMALL BODY */

    #main-content {
        margin-top: 158px;
    }

    /* SMALL SECTION STYLING */

    .main-section 
    .section-header 
    .section-name {
        flex-direction: column;
    }

    .main-section 
    .section-header 
    .section-trains {
        /* align-items: flex-start; */
        height: 30px;
    }

    .main-section 
    .section-header  
    .circle-arrow {
        margin-left: 0;
    }

    .main-section
    .section-intro {
        flex-direction: column;
    }

    .main-section
    .section-intro
    .intro-div {
        width: initial;
        margin-right: 0;
    }

    .main-section
    .section-intro
    .intro-div.intro-sign {
        margin-top: 0;
        margin-bottom: 0;
    }

    .main-section 
    .station-sign-group {
        flex-direction: column;
    }

    .main-section
    .station-sign {
        margin-right: 0;
        margin-bottom: 8px;
        width: initial;
    }

    .main-section
    .station-sign
    li {
        white-space: normal;
    }

    /* SMALL PROJECTS STYLING */

    .project-tile {
        width: calc(100% / 3 - var(--tile-spacing));
        background-color: red;
    }

}

/* BIG */
@media only screen and (min-width: 691px) {
    .hide-when-big {
        display: none;
    }

}