main {
    position: relative;
    width: 100%;
    height: initial;
    left: 0;
    margin: 0;
    z-index: 0;
}

#settings {
    z-index: 99;
}

nav {
    display: none;
}

#cube_group {
	transform: none;
}

.face {
	position: relative;
    display: block;
    transform: none;
    width: calc(100% - 40px);
    height: initial;
    min-width: calc(300px - 40px);
    margin: 0;
}

#cube_group {
	transform: none;
    transition: none;
    height: initial;
    width: initial;
}

#cube_1 {
	transform: none;
}
#cube_2 {
    transform: none;
}
#cube_3 {
    transform: none;
    height: 460px;
}
#cube_4 {
    transform: none;
}
#cube_5 {
    transform: none;
}
#cube_6 {
    transform: none;
}

#cover_img, #cover_img img {
	width: calc(100% + 40px);
}

#avatar {
    top: 25px;
	left: calc(50% - 50px);
    transform: none;
}

#schools_span {
    display: flex;
}

figure {
    width: initial;
    flex-grow: 1;
}

figcaption {
    display: none;
}

figure hr {
    display: none;
}

#interests_wrap {
	width: calc(100% + 40px);
}

.int_content {
	position: absolute;
    height: 400px;
    width: calc(100% - 40px);
    top: 0;
    padding: 20px;
    background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.5));
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s;
}

.close_int {
	left: calc(100% - 46px);
}

#jobs_span {
	display: flex;
    flex-direction: column;    
}

.jobs_container {
    height: 40px;
    width: 100%;
    margin-bottom: 5px;
    float: none;
    overflow: hidden;
}

.jobs_content {
    background: linear-gradient(rgba(0, 0, 0, 075), rgba(0, 0, 0, 0));
    width: calc(100% - 40px);
    height: 100%;
    position: static;
    margin-top: -200px;    
}

.jobs_container > img {
	opacity: 1;
    height: 100;
    top: 0;
}

.jobs_content img {
	filter: brightness(1);
}

.jobs_button {
	display: none;
}

#contact_wrap {
    width: calc(100% + 40px);
}
